.line-footer
  width: 45%
  &:first-child
    margin-left: 10px

.container-footer
  display: flex

.logos-footer
  padding: 5px

.margin-first-logo
  margin-left: 5px
.margin-last-logo
  margin-right: 5px