<mat-toolbar class="toolbar-container fixed-top">
    <span class="logo">Desfile Silvi Modas</span>
    <span> <img src="..\assets\img\logos\logo_silviModas.png" alt="" class="img-toolbar"></span>
</mat-toolbar>
<app-promotion></app-promotion>
<section [ngClass]="isMobile? 'desciption-desfile-container-mobile' : 'desciption-desfile-container'">
    <p class="subtitle">Conocé a todas las personas que ayudaron y colaboraron en este desfile benéfico de Silvi Modas. Ingresando a cada uno de los ítems, podrás saber un poco más de ellos</p>
</section>
<app-card></app-card>
<app-footer></app-footer>